@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Global Styles */
:root{
    --primary-color:#d8eefe;
}

* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    min-height: 100dvh;
    background-image: url('/img/field.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    max-width: 100%;
}
/* errors */
.error-message{
    color: rgb(248, 79, 79);
}
/* Navbar */
.navbar{
    background-color:var(--primary-color) ;
}

/* Main Content */
.main-content{
    height: calc(100dvh - 56px);
}